main {
    min-height: 80vh;
}


main .date {
    color: gray;
    font-size: small;
    justify-content: center;
    display: flex;
}

main ul li {
    border: 2px solid var(--blue);
    display: flex;
    border-radius: 4px;
    width: 60%;
    margin: 2rem auto;
    color: black;
}

main ul li input {
    flex: 0.2;
    cursor: pointer;
    margin: 2.3rem auto;
    width: 20px;
    height: 20px;
    padding: 0px;
}

main ul li p {
    user-select: none;
    margin: 1rem;
    flex: 0.6;
    flex-grow: 1;
    cursor: pointer;
}

main ul li section>p:first-child {
    text-transform: uppercase;
}

main ul li section p:last-child {
    font-size: small;
}

main ul li svg {
    flex: 0.2;
    margin: 2rem auto;
    font-size: xx-large;
    cursor: pointer;
    transition: fill 0.5s ease-in-out, transform 1s ease-in-out;

}

main ul li svg:hover {
    fill: red;
    outline: none;
    transform: scale3d(1.3, 1.3, 1.3);
}

.emptyText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    margin-top: 2rem;
    color: gray;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}